---
layout: default
---

<div class="blog-posts">

  <h1 class="page-heading">Blog posts</h1>

  <table class="post-list table table-striped">
    {% for post in site.posts %}
      <tr>
      <td>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </td>
      <td>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% if post.excerpt_standalone %}<br/><span class="post-meta"><span class="post-excerpt">{{ post.excerpt }}</span></span>{% endif %}
      </td>
      </tr>
    {% endfor %}
  </table>

</div>
