<header class="site-header">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.title | escape }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% for my_link in site.top_links %}
            {% if my_link.sublinks %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ my_link.title }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for my_sublink in my_link.sublinks %}
                {% if my_sublink.title %}
                {% if my_sublink.url %}
                {% if my_sublink.rel %}
                <li><a rel="{{ my_sublink.rel }}" href="{{ my_sublink.url }}">{{ my_sublink.title }}</a></li>
                {% else %}
                <li><a href="{{ my_sublink.url }}">{{ my_sublink.title }}</a></li>
                {% endif %}
                {% else %}
                <li class="dropdown-header">{{ my_sublink.title }}</li>
                {% endif %}
                {% else %}
                <li role="separator" class="divider"></li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li><a href="{{ my_link.url }}">{{ my_link.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/posts/">All posts</a></li>
                <li><a href="{{ site.baseurl }}/feed.xml">Subscribe via RSS</a></li>
              </ul>
            </li>
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a href="{{ site.baseurl }}{{ my_page.url }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
          {% if site.cse_id %}
            <form action="https://www.google.com/cse" id="cse-search-box" class="navbar-form navbar-right">
              <input type="hidden" name="cx" value="{{ site.cse_id }}" />
              <input type="hidden" name="ie" value="UTF-8" />
              <div class="form-group">
                <input type="search" class="form-control" value placeholder="Site search" name="q" />
              </div>
            </form>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>
