<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | escape }}{% else %}{{ site.description | escape }}{% endif %}">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html','' }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ site.url }}{{ site.baseurl }}/feed.xml">

{% if page.path == 'index.html' %}
<!-- OpenID delegation -->
<link rel="openid.server" href="https://login.launchpad.net/+openid" />
<link rel="openid.delegate" href="https://login.launchpad.net/+id/844M3cA" />
<link rel="openid2.provider" href="https://login.launchpad.net/+openid" />
<link rel="openid2.local_id" href="https://login.launchpad.net/+id/844M3cA" />
<meta http-equiv="X-XRDS-Location" content="https://login.launchpad.net/+id/844M3cA/+xrds" />
<!-- ICBM (location of the box itself, not me) -->
<meta name="ICBM" content="37.334147, -121.891803" />
<meta name="DC.title" content="Ryan Finnie's colocated server" />
{% endif %}
{% if page.author %}
<meta name="author" content="{{ page.author | escape }}" />
{% elsif site.author %}
<meta name="author" content="{{ site.author | escape }}" />
{% endif %}
<meta property="og:url" content="{% if page.url %}{{ site.url }}{{ site.baseurl }}{{ page.url }}{% else %}{{ site.url }}{{ site.baseurl }}{% endif %}"/>
<meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
<meta property="og:site_name" content="{{ site.title | escape }}" />
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | escape }}{% else %}{{ site.description | escape }}{% endif %}" />
<meta property="og:type" content="{% if page.id %}article{% else %}website{% endif %}" />
{% if page.headline_image %}<meta property="og:image" content="{% if page.headline_image contains '//' %}{{ page.headline_image }}{% else %}{{ site.url }}{{ site.baseurl }}{{ page.headline_image }}{% endif %}" />{% endif %}

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet" type="text/css">
<link href="{{ site.baseurl }}/blog-assets/css/main.css" rel="stylesheet">

</head>
