body{
font-family: 'Cutive Mono', monospace;
font-size: 17px;
background-color: #77818b;
color: #22313f;
}
body > .container{
margin-top: 50px;
padding-bottom: 20px;
background-color: #ffffff;
}
.site-footer > .container{
margin-top: 20px;
padding-bottom: 20px;
background-color: #77818b;
color: #eff3f7;
font-size: 14px;
text-align: right;
}
.site-footer > .container a, .site-footer > .container a:visited {
color: #eff3f7;
}
.navbar-inverse {
	background-color: #384654;
	border-color: #000008;
}
.navbar-inverse .navbar-brand {
	color: #eff3f7;
}
.navbar-inverse .navbar-nav > li > a {
	color: #c0c0c0;
}

#cse-search-box input[type=search] {
    width: 100%;
    margin: 6px;
    border: none;
        padding: 6px 6px 6px 6px;
        background: #77818b;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-font-smoothing: subpixel-antialiased;
        color: #eff3f7;
}

#cse-search-box input[type=search]:focus { color: #eff3f7; }
