body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  background-color: #77818b;
  color: #22313f;
}
body > .container {
  padding-bottom: 20px;
  background-color: #ffffff;
  border-radius: 0 0 18px 18px;
}
.post-meta {
  color: #7a838b;
}
.post-excerpt {
  font-size: 15px;
}
.navbar {
  margin-bottom: 0;
}
.site-footer > .container {
  margin-top: 20px;
  padding-bottom: 20px;
  background-color: #77818b;
  color: #eff3f7;
  font-size: 14px;
  text-align: right;
}
.site-footer > .container a, .site-footer > .container a:visited {
  color: #eff3f7;
}
.navbar-inverse {
  background-color: #384654;
  border-color: #000008;
}
.navbar-inverse .navbar-brand {
  color: #eff3f7;
}
.navbar-inverse .navbar-nav > li > a {
  color: #c0c0c0;
}
.navbar-inverse .form-control {
  background: #77818b;
  color: #eff3f7;
  border: none;
}
.article-navigation {
  background-color: #eff3f7;
  margin-top: 20px;
}
.article-navigation-next {
  text-align: right;
}
.post-comments {
  margin-top: 2em;
  border: 0;
  border-top: 1px solid #eee;
}
.img-md {
  max-height: 300px;
  width: auto;
}
.img-lg {
  max-height: 480px;
  width: auto;
}
.img-md.img-rounded {
  border-radius: 12px;
}
.img-lg.img-rounded {
  border-radius: 18px;
}
.pull-right {
  margin-left: 1em;
  margin-bottom: .5em;
  margin-top: .5em;
}
.pull-left {
  margin-right: 1em;
  margin-bottom: .5em;
  margin-top: .5em;
}
article {
  margin-bottom: 3em;
}
.video-embed {
  position: relative;
  padding-top: 0;
  height: 0;
}
.video-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-embed-169 {
  padding-bottom: 56.25%; /* 16:9 */
}
.video-embed-43 {
  padding-bottom: 75%; /* 4:3 */
}
.video-embed-md {
  max-width: 400px;
  height: auto;
}
.video-embed-lg {
  max-width: 640px;
  height: auto;
}

h1.post-title, h2.post-title {
  font-size: 36px;
}

/* Code highlighting */
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
